name: Frontend CI

on:
  push:
    branches: [ "main" ]
    paths:
      - "marketdata-frontend/**"
      - ".github/workflows/frontend-ci.yml"
  pull_request:
    branches: [ "main" ]
    paths:
      - "marketdata-frontend/**"
      - ".github/workflows/frontend-ci.yml"

jobs:
  build_and_test:
    name: Test & Build (Node)
    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: marketdata-frontend

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node 20
        uses: actions/setup-node@v4
        with:
          node-version: "20.x"
          cache: "npm"
          cache-dependency-path: "marketdata-frontend/package-lock.json"

      - name: Install deps
        run: npm ci

      - name: Run tests
        run: npm test

      - name: Build
        run: npm run build
